*{
  padding: 0;
  margin: 0;
  background-origin: border-box;
}
#loader{
  height: 50px;
  width: 50px;
  border-radius: 150px;
  border: 5px solid rgb(48, 176, 80);
  border-top: 5px solid white;
  color: rgb(48, 176, 80);
  animation: spinner 1s linear infinite;
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes spinner{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.spacer{
  margin-left: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* *****Login.jsx CSS***** */

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-btn {
  background-color: rgb(48, 176, 80);
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  /* margin: 10px; */
  font-size: 1.5rem;
  cursor: pointer;
  height: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

}
.login-btn a {
  color: white;
  text-decoration: none;
}


/* *****Navbar.jsx CSS***** */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: rgb(48, 176, 80);
  padding-block: 10px;
}

.navbar-title-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.login-btn-nav,.logout-btn-nav{
  border: none;
  padding-block: 5px;
  background-color: white;
  width: 70px;
  margin-left: 10px;
  color: green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 15px;
}

.login-btn-nav,.logout-btn-nav:hover{
  color: green;
  background-color: lightgreen;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar-title{
  margin-left: 20px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(48, 176, 80);
  font-family:sans-serif;
}

.navbar-title-desc{
  margin-left: 20px;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(48, 176, 80);
}

.navbar-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.navbar-links a{
  color: rgb(48, 176, 80);
  text-decoration: none;
  margin-left: 20px;
  font-size: 15px;
}

.navbar-links a:hover{
  color: green;
  background-color: lightgreen;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.footer{
  height: 40px;
  text-align: center;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-desc{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

/* *****Profile.jsx CSS***** */

.profile-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  /* align-items: center; */
  height: 100vh;
}

.sub-left-profile-container{
  display: flex;
  flex-direction: column;
}

.sub-right-profile-container{
  padding-top: 20px;
}

.details-container-personal-information-title{
  font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 20px;
}

.profile-cart-details-container{
  display: flex;
  flex-direction: column;
}

.profile-cart-details-container-button{
  border: none;
  padding-block: 8px;
  padding-inline: 14px;
  margin-bottom: 10px;
  /* text-align: left; */
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image-container {
  margin-right: 20px;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
  /* align-items: center; */
}

.header-profile-details{
  align-items: flex-start;
  justify-content: flex-start;
}

.profile-hello-text{
  font-size: 16;
  font-weight: 300;
  padding-bottom: 5px;
}

.profile-header-name{
  font-weight: bold;
  font-size: 20;
  font-family: Arial, Helvetica, sans-serif;
}

#profile{
  height: 50px;
  border-radius: 150%;
  margin-right: 15px;
  /* box-sizing: border-box; */
}

.details-container {
  display: flex;
  flex-direction: column;
}

.details-text{
  font-size: 18px;
  margin-bottom: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;

}

#signout-btn{
  background-color: rgb(48, 176, 80);
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

a{
  color: white;
  text-decoration: none;
}

#signout-btn:hover{
  background-color: white;
  color: rgb(48, 176, 80);
  transition: all 0.3s ease-in-out;
}

.sub-details-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
}

.others-profile-btn{
  background-color: white;
  color: rgb(48, 176, 80);
  border: 1px solid rgb(48, 176, 80);
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  height: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

#others-profile-btn:hover{
  background-color: rgb(48, 176, 80);
  color: white;
  transition: all 0.3s ease-in-out;
}

.faq-sub-right-profile-container{
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.faq-sub-right-profile-container-title{
  font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 20px;
}

.faq-sub-right-profile-container-qa{
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
  padding-bottom: 27px;
}

.faq-sub-right-profile-container-questions{
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

.faq-sub-right-profile-container-answers{
  font-size: 15px;
}

.deactive-account{
  padding-block: 7px;
  padding-inline: 14px;
  border-radius: 10px;
  border: none;
  background: skyblue;
  color: white;
  cursor: pointer;
  font-size: 12;
}

.deactive-account:hover{
  background-color: white;
  color: skyblue;
}

.cart-container {
  display: flex;
  height: 100vh;
  padding: 15px;
}

.items-container {
  flex: 4; /* Take up 4/5 of the space */

}

.item{
  border-radius: 15px;
  /* border: 1px solid greenyellow; */
  padding: 7px;
  display: flex;
}

.item-image{
  height: 150px;
  width: 150px;
  border-radius: 150%;
}

.item-name{
  font-size: 25px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.item-seller{
  font-size: 14px;
  padding-top: 10px;
}

.item-price{
  font-size: 20px;
  padding-top: 15px;
}

.item-desc{
  padding-top: 10px;
  padding-left: 10px;
}

.remove-item{
  margin-top: 10px;
  padding-inline: 10px;
  padding-block: 6px;
  background-color: red;
  color: white;
  border-radius: 7px;
  border: none;
}

.remove-item:hover{
  background-color: white;
  color: green;
  border: 1px solid green;
  cursor: pointer;
}

.check-details {
  flex: 2; /* Take up 1/5 of the space */
  text-align: left; /* Align contents to the right */
  padding: 20px;
}

.checkout-desc{
  padding-block: 10px;
}

.total-items{
  font-size: 19px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.total-amount{
  font-size: 21px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.place-order{
  padding-block: 15px;
  padding-inline: 30px;
  border-radius: 6px;
  font-size: 16;
  border: none;
  background-color: darkblue;
  color: white;
}

.place-order:hover{
  background-color: white;
  color: darkblue;
  border: 1px solid darkblue;
  cursor: pointer;
}

#shop-now{
  color: white;
  background-color: green;
  border-radius: 8px;
  padding-inline: 15px;
  padding-block: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
}

#shop-now:hover{
  background-color: white;
  color: green;
  border: 1px solid green;
  cursor: pointer;
}

.empty-cart{
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.cart-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black; /* Adjust text color as needed */
  margin-right: 10px;
}

.badge {
  position: absolute;
  top: -8px; /* Adjust top position */
  right: -8px; /* Adjust right position */
  background-color: red; /* Background color */
  color: white; /* Text color */
  width: 15px; /* Adjust width as needed */
  height: 15px; /* Adjust height as needed */
  border-radius: 50%; /* Make it circular */
  display: flex;
  justify-content: center;
  align-items: center;
}



.your-cart-is-empty{
  font-size: 20px;
}

.add-items-to-it-now{
  font-size: 15px;
}

.empty-cart-image{
  height: 100px;
  width: 100px;
}

.order-success{
  height: 100vh;
}

.order-success-sub{
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.order-success-image{
  height: 150px;
  width: 180px;
  border-radius: 20px;
  padding-bottom: 10px;
}

.shop-more{
  background-color: aqua;
  color: #282c34;
  border-radius: 10px;
  padding-block: 7px;
  padding-inline: 15px;
  border: none;
}

.your-order-has-been-placed{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.reference-no{
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 10px;
}

.checkout-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sub-checkout-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 250px;
}

.items-no{
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 5px;
}

.grand-total-amount{
  font-size: 19px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-bottom: 15px;
}

.confirm-order{
  padding-block: 12px;
  padding-inline: 26px;
  background-color: green;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}


.payment-options {
  margin-bottom: 20px;
}

.choose-payment-option {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.payment-options input[type='radio'] {
  margin-right: 5px;
}

.place-details {
  margin-bottom: 20px;
}

.enter-delivary-address {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.place-details input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.place-details input[type='text']:focus {
  outline: none;
  border-color: #007bff;
}


/* Home */

.home-container{
  height: 100vh;
}

.carousel-container-img {
  height: 80px; /* Adjust the height as needed */
}


.best-of-medicines, .best-of-grossery {
  padding-inline: 10px;
  padding-block: 15px;
  /* display: grid; */
}

.sub-best-of-medicine, .sub-best-of-grossery{
  
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  
}


.best-of-medicines-title, .best-of-grossery-title{
  font-size: 23px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  padding-bottom: 30px;
}

.best-of-medicines-card, .best-of-grossery-card{
  text-align: center;
  border: .5px solid grey;
  padding: 10px;
  width: 180px;
  border-radius: 7px;
}

.best-of-medicines-card-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.best-of-medicines-card-image, .best-of-grossery-card-image{
  height: 140px;
  width: 140px;
  padding-bottom: 20px;
  padding-top: 10px;
  border-radius: 7px;
}

.best-of-medicines-card-title, .best-of-grossery-card-title{
  font-size: 14px;
}

.best-of-medicines-card-price, .best-of-grossery-card-price{
  font-size: 18px;
  padding-bottom: 8px;
}

.add-to-cart{
  padding-block: 5px;
  padding-inline: 8px;
  background-color: green;
  border: none;
  width: 100%;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.remove-cart{
  padding-block: 5px;
  padding-inline: 8px;
  background-color: red;
  border: none;
  width: 100%;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.view-item{
  padding-block: 5px;
  padding-inline: 8px;
  background-color: wheat;
  border: none;
  width: 100%;
  color: green;
  border-radius: 5px;
  cursor: pointer;
}

.show-all-medicines, .show-all-grossery{
  text-align: right;
  padding: 15px;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.view-item-container{
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  height: 100vh;
  padding-block: 30px;
  padding-inline: 20px;
}

.sub-left-view-item-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 40px;
}

.sub-left-view-sub-item-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sub-left-view-item-image{
  height: 300px;
  padding: 15px;
  border: .5px solid rgb(188, 186, 186);
  margin-bottom: 25px;
}

.add-to-cart-button-view-item-container{
  /* padding-inline: 45px; */
  background-color: green;
  color: white;
  border: none;
  margin-right: 10px;
  width: 150px;
}

.buy-now-button-view-item-container{
  padding-block: 10px;
  /* padding-inline: 45px; */
  background-color: darkblue;
  color: white;
  border: none;
  height: 40px;
  width: 150px;
}

.sub-left-view-sub-item-button-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sub-right-view-item-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 20px;
}

.sub-right-view-item-container-title{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 15px;
}

.spacial-price{
  font-size: 16px;
  color: green;
  padding-bottom: 10px;
}

.view-item-price{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.discounted-price{
  font-weight: bold;
  color: black;
  font-size: 26px;
  padding-right: 10px;
}

.real-price{
  color: grey;
  font-size: 19px;
  text-decoration:line-through;
  padding-right: 10px;
}

.percent-off{
  font-size: 19px;
  color: green;
  font-weight: bold;
}

.sub-right-view-item-container-product-details{
  padding-top: 20px;
}

.sub-right-view-item-container-product-details-seller,.sub-right-view-item-container-product-details-description{
  padding-block: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sub-right-view-item-container-seller-title{
  font-size: 14px;
  color: grey;
  font-weight: bold;
  padding-right: 40px;
}

.sub-right-view-item-container-product-reviews{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sub-right-view-item-container-seller-desc{
  font-size: 14px;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sub-right-view-item-container-product-reviews-title{
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

.sub-right-view-item-container-product-reviews-desc{
  font-size: 13px;
  letter-spacing: 1;
}

.sub-right-view-item-container-product-reviews-buyers-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
}

.sub-right-view-item-container-product-reviews-buyers-details-name{
  font-size: 10px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-right: 5px;
}

.sub-right-view-item-container-product-reviews-buyers-details-date{
  font-size: 10px;
}

.sub-right-view-item-container-product-reviews-header{
  font-size: 25px;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 20px;
  padding-top: 20px;
}

.sub-right-view-item-container-product-reviews-sub-map{
  padding-block: 10px;
}

.my-orders-container{
  height: 100vh;
  padding-block: 20px;
  padding-inline: 150px;
}

.order-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: .5px solid grey;
  padding-block: 5px;
  /* padding-inline: 5px; */
  border-radius: 5px;
  margin-bottom: 15px;
}

.left-order-card{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-order-card-img{
  height: 120px;
  padding-right: 15px;
}

.left-order-card-header{
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 6px;
}

.left-order-card-color{
  font-size: 13px;
  color: darkgray;
}

.left-order-card-desc{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.middle-order-card-price{
  font-size: 16px;
  font-weight: bold;
}

.right-order-card{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
}

.right-order-card-delivary-date{
  font-size: 16px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 5px;
}

.right-order-card-delivary-done{
  font-size: 12px;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 100%;
}

.search-btn {
  padding: 8px 48px;
  font-size: 16px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: darkgreen;
}

.empty-orders-container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.empty-orders-container p {
  margin: 0;
  font-size: 18px;
  color: #666;
}

.right-order-card-cancel-review {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100%;
}


.right-order-card-cancel-btn {
  padding-block: 6px;
  padding-inline: 14px;
  border: none;
  background-color: orange;
  color: white;
  border-radius: 5px;
  /* background: none; */
  cursor: pointer;

}

.right-order-card-review-btn {
  padding-block: 6px;
  padding-inline: 14px;
  border: none;
  background-color: skyblue;
  color: white;
  margin-right: 15px;
  border-radius: 5px;  cursor: pointer;
}

.right-order-card-review-btn::hover {
  /* content: '\2605'; Star emoji */
  font-size: 20px;
  background-color: blue;
}

.right-order-card-cancel-btn::hover {
  /* content: '\2716'; Cross emoji */
  font-size: 20px;
  background-color: red;
}